server:
  port: 8222

spring:
  application:
    name: api-gateway

eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true

spring:
  cloud:
    gateway:
      # Discovery locator activé pour détecter automatiquement les services
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
          prefix: /api/v1  # Ajouter un préfixe pour toutes les routes découvertes
      # Routes manuelles avec RewritePath pour correspondre au chemin du microservice
      routes:
        - id: student-service
          uri: lb://STUDENT-SERVICE
          predicates:
            - Path=/api/v1/students/**
          filters:
            - RewritePath=/api/v1/students/(?<segment>.*), /students/${segment}

        - id: school-service
          uri: lb://SCHOOL-SERVICE
          predicates:
            - Path=/api/v1/schools/**
          filters:
            - RewritePath=/api/v1/schools/(?<segment>.*), /schools/${segment}

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    urls:
      - name: Student Service
        url: /api/v1/students/v3/api-docs
      - name: School Service
        url: /api/v1/schools/v3/api-docs

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
